<ion-header [translucent]="true">
  <ion-toolbar color="success">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Registro de Partes</ion-title>
    <ion-buttons slot="end">
      <ion-button id="open-modal">
        <ion-icon slot="icon-only" name="add-circle-outline"></ion-icon>
      </ion-button>
      <!-- <ion-button (click)="exportToPDF()" title="Descargar PDF">
        <ion-icon name="download-sharp"></ion-icon>
      </ion-button> -->
    </ion-buttons>
  </ion-toolbar>

  <ion-toolbar color="success">
    <ion-searchbar placeholder="Buscar por código o hacienda..." [debounce]="300" (ionInput)="handleInput($event)"
      class="custom-search">
    </ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding-top">

  <div *ngIf="loading" class="ion-text-center ion-padding">
    <ion-spinner name="crescent" color="success"></ion-spinner>
  </div>

  <div *ngIf="!loading && partes.length > 0">
    <ion-card *ngFor="let p of partes" class="parte-card" [class.aprobado]="p.usuarioaprob">
      <ion-card-content>
        <div class="card-header-flex">
          <div class="header-left-group">
            <ion-button *ngIf="!p.usuarioaprob" fill="clear" color="danger" (click)="eliminarParte(p.secParte)">
                  <ion-icon slot="icon-only" name="trash-outline"></ion-icon>
                </ion-button>
            <div class="sec-badge">#{{p.secParte}}</div>
            <span *ngIf="p.usuarioaprob" class="texto-aprobado">
              APROBADO
            </span>
          </div>
          <div class="header-right-group">
            <span class="fecha-text">{{ formatDate(p.fechaParte) }}</span>

            <div class="mini-actions">
              <ion-button *ngIf="!p.usuarioaprob" fill="clear" size="small" [routerLink]="['/agregar-det', p.secParte]"
                title="Añadir">
                <img src="/assets/images/agregarArchivo.png" width="22" height="22" />
              </ion-button>
              <ion-button fill="clear" size="small" [routerLink]="['/partes', p.secParte]" title="Detalles">
                <img src="/assets/images/archivoDetalles.png" width="21" height="21" />
              </ion-button>
            </div>
          </div>
        </div>

        <div class="card-body">
          <h2 class="hacienda-title">{{ getHaciendaName(p.codHacienda) }}</h2>
          <p class="codigo-sub">Código: <strong>{{p.codigo || '-'}}</strong></p>
        </div>
      </ion-card-content>
    </ion-card>
  </div>

  <div *ngIf="!loading && partes.length === 0" class="empty-container">
    <ion-icon name="clipboard-outline"></ion-icon>
    <p>No se encontraron registros.</p>
  </div>

  <ion-infinite-scroll (ionInfinite)="loadMore($event)" [disabled]="infiniteDisabled">
    <ion-infinite-scroll-content loadingSpinner="crescent"></ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>

<ion-modal #modal trigger="open-modal" [initialBreakpoint]="0.75" [breakpoints]="[0, 0.75, 1]">
  <ng-template>
    <ion-header class="ion-no-border">
      <ion-toolbar color="dark">
        <ion-buttons slot="start">
          <ion-button (click)="modal.dismiss()">Cancelar</ion-button>
        </ion-buttons>
        <ion-title>Nuevo Registro</ion-title>
        <ion-buttons slot="end">
          <ion-button (click)="confirm()" [strong]="true" color="success">Confirmar</ion-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>

    <ion-content class="ion-padding">
      <form [formGroup]="form">
        <div class="form-container">
          <ion-item fill="outline" mode="md" class="custom-item"
            [class.ion-invalid]="form.get('codHacienda')?.invalid && form.get('codHacienda')?.touched"
            [class.ion-touched]="form.get('codHacienda')?.touched">
            <ion-label position="stacked">Seleccionar Hacienda</ion-label>
            <ion-select formControlName="codHacienda" interface="popover" placeholder="Seleccione una">
              <ion-select-option *ngFor="let h of haciendas" [value]="h.codHacienda">
                {{ h.nomHacienda }}
              </ion-select-option>
            </ion-select>
            <ion-icon name="business-outline" slot="start"></ion-icon>
            <ion-note slot="error"
              *ngIf="form.get('codHacienda')?.touched && form.get('codHacienda')?.hasError('required')">
              Debe seleccionar una hacienda
            </ion-note>
          </ion-item>

          <ion-item fill="outline" mode="md" class="custom-item"
            [class.ion-invalid]="form.get('fechaParte')?.invalid && form.get('fechaParte')?.touched"
            [class.ion-touched]="form.get('fechaParte')?.touched">
            <ion-label position="stacked">Fecha de Parte</ion-label>
            <ion-input type="date" formControlName="fechaParte"></ion-input>
            <ion-icon name="calendar-outline" slot="start"></ion-icon>
            <ion-note slot="error"
              *ngIf="form.get('fechaParte')?.touched && form.get('fechaParte')?.hasError('required')">
              La fecha es obligatoria
            </ion-note>
          </ion-item>

          <ion-item fill="outline" mode="md" class="custom-item">
            <ion-label position="stacked">Observaciones (opcional)</ion-label>
            <ion-input formControlName="observacion" autoGrow="true"
              placeholder="Escriba detalles adicionales..."></ion-input>
            <ion-icon name="chatbubble-ellipses-outline" slot="start"></ion-icon>
          </ion-item>
        </div>
      </form>
    </ion-content>
  </ng-template>
</ion-modal>