// Cards de registros
.parte-card {
  margin: 8px 12px;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
  border-left: 4px solid var(--ion-color-success);

  &.aprobado {
    --background: #e8f5e9;
    background-color: #e8f5e9;
    border-left: 4px solid #4caf50; // Verde más fuerte para el borde
  }

  ion-card-content {
    padding: 10px; // Reducimos padding interno
  }

  .card-header-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 4px;

    .header-left-group {
      display: flex;
      align-items: center;
      gap: 8px;

      .sec-badge {
        background: var(--ion-color-light);
        padding: 4px 8px;
        border-radius: 6px;
        font-weight: bold;
        font-size: 0.75rem;
        color: var(--ion-color-dark);
      }

      .texto-aprobado {
        font-size: 0.65rem;
        font-weight: 800;
        color: #000000;
        text-transform: uppercase;
        letter-spacing: 0.5px;
        background: rgba(37, 99, 235, 0.1);
        padding: 2px 6px;
        border-radius: 4px;
        border: 1px solid rgba(37, 99, 235, 0.3);
      }
    }

    .header-right-group {
      display: flex;
      align-items: center;
      gap: 8px;

      .fecha-text {
        font-size: 0.8rem;
        color: var(--ion-color-medium);
        font-weight: 500;
      }

      .mini-actions {
        display: flex;
        gap: 0; // Botones más juntos

        ion-button {
          --padding-start: 4px;
          --padding-end: 4px;
          height: 28px;
          margin: 0;
        }
      }
    }
  }


  .card-body {
    .hacienda-title {
      margin: 0;
      font-size: 0.95rem;
      font-weight: 700;
      color: var(--ion-color-dark);
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    .codigo-sub {
      margin: 0;
      font-size: 0.85rem;
      color: var(--ion-color-medium);
    }
  }

  ion-button {
    height: 32px; // fuerza botones bajos
    font-size: 0.75rem;
    --padding-start: 10px;
    --padding-end: 10px;
  }
}

ion-modal {
  --height: 60%;
  --width: 90%;
  --border-radius: 16px;
  --box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
}

ion-modal::part(content) {
  // Esto hace que el modal se vea como una tarjeta flotante
  position: absolute;
  bottom: 0;
}

ion-modal ion-toolbar {
  --background: rgb(0, 0, 0);
  --color: white;
}

.custom-item.ion-invalid.ion-touched {
  // Color del borde y la línea de énfasis
  --border-color: var(--ion-color-danger, #eb445a);
  --highlight-color-focused: var(--ion-color-danger, #eb445a);

  ion-label {
    color: var(--ion-color-danger, #eb445a) !important;
  }

  ion-icon {
    color: var(--ion-color-danger, #eb445a);
  }
}

// Estilo para los mensajes de error debajo del input
ion-note[slot="error"] {
  font-size: 11px;
  padding-top: 4px;
  font-weight: 500;
}