<ion-header [translucent]="true">
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/" text="Atrás"></ion-back-button>
    </ion-buttons>

    <ion-title>
      Parte {{ detPartes[0]?.secParte }} - {{ detPartes[0]?.codTrabaj }}
    </ion-title>

    <ion-buttons slot="end">
      <!-- <ion-button (click)="exportToPDF()" title="Descargar PDF">
        <ion-icon name="download-sharp"></ion-icon>
      </ion-button> -->
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div *ngIf="loading" class="ion-text-center ion-padding">
    <ion-spinner name="crescent"></ion-spinner>
    <p>Cargando detalles...</p>
  </div>

  <ion-grid *ngIf="!loading && detPartes.length > 0">
    <ion-row>
      <ion-col size="12" size-md="6" size-xl="4" *ngFor="let p of detPartes">
        <ion-card class="detalle-card" [ngClass]="{
            'border-hora': getLaborUM(p.codLabor) === 11,
            'border-jornal': getLaborUM(p.codLabor) === 6
          }">
          <ion-card-content>
            <div class="card-header">
              <ion-badge color="success">#{{p.codTrabaj}}</ion-badge>
              <div class="acciones-btn">
                <ion-button *ngIf="!esAprobado" fill="clear" color="primary" (click)="editarDetalle(p)">
                  <ion-icon slot="icon-only" name="create-outline"></ion-icon>
                </ion-button>
              </div>
            </div>

            <h2 class="empleado-nombre">{{getEmpleadoName(p.codTrabaj)}}</h2>

            <div class="info-grid">
              <div class="info-item">
                <span class="label">Labor:</span>
                <span class="value">{{getLaborName(p.codLabor)}}</span>
              </div>
              <div class="info-item">
                <span class="label">Lote:</span>
                <span class="value">{{getLoteName(p.loteId)}}</span>
              </div>
              <div class="info-item">
                <span class="label">Cantidad:</span>
                <span class="value-destacado">{{p.cantidad}} {{getUnidadMedida(getLaborUM(p.codLabor))}}</span>
              </div>
            </div>

            <div class="fechas-footer">
              <span>{{formatDate(p.fechaInicio)}}</span>
              <ion-icon name="arrow-forward-outline"></ion-icon>
              <span>{{formatDate(p.fechaFin)}}</span>
            </div>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-modal [isOpen]="isModalOpen" (didDismiss)="isModalOpen = false" [initialBreakpoint]="0.75"
    [breakpoints]="[0, 0.75, 1]">
    <ng-template>
      <ion-header>
        <ion-toolbar color="primary">
          <ion-title>Editar Detalle</ion-title>
          <ion-buttons slot="end">
            <ion-button (click)="isModalOpen = false">Cerrar</ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>

      <ion-content class="ion-padding">
        <div *ngIf="detalleSeleccionado">
          <ion-row>
            <ion-col size="6">
              <ion-item fill="outline" mode="md" class="ion-margin-bottom">
                <ion-label position="stacked">Trabajador</ion-label>
                <ion-select [(ngModel)]="detalleSeleccionado.codTrabaj">
                  <ion-select-option *ngFor="let e of empleados" [value]="e.codTrabaj">
                    {{e.nombreCorto}}
                  </ion-select-option>
                </ion-select>
              </ion-item>
            </ion-col>
            <ion-col size="6">
              <ion-item fill="outline" mode="md" class="ion-margin-bottom">
                <ion-label position="stacked">Lote</ion-label>
                <ion-select [(ngModel)]="detalleSeleccionado.loteId">
                  <!-- <ion-select-option [value]="0">SIN LOTE (0)</ion-select-option> -->
                  <ion-select-option *ngFor="let l of lotes" [value]="l.loteId">
                    {{l.descripcion}}
                  </ion-select-option>
                </ion-select>
              </ion-item>
            </ion-col>
            <ion-col size="6">
              <ion-item fill="outline" mode="md" class="ion-margin-bottom">
                <ion-label position="stacked">Labor</ion-label>
                <ion-select [(ngModel)]="detalleSeleccionado.codLabor">
                  <ion-select-option *ngFor="let l of labors" [value]="l.id">
                    {{l.nombre}}
                  </ion-select-option>
                </ion-select>
              </ion-item>
            </ion-col>
            <ion-col size="6">
              <ion-item fill="outline" mode="md" class="ion-margin-bottom">
                <ion-label position="stacked">Cantidad</ion-label>
                <ion-input type="number" [(ngModel)]="detalleSeleccionado.cantidad"></ion-input>
              </ion-item>
            </ion-col>
            <ion-col size="6">
              <ion-item class="custom-input">
                <ion-label position="stacked">Fecha Inicio</ion-label>
                <ion-input type="date" [(ngModel)]="detalleSeleccionado.fechaInicio"></ion-input>
              </ion-item>
            </ion-col>
            <ion-col size="6">
              <ion-item class="custom-input">
                <ion-label position="stacked">Fecha Fin</ion-label>
                <ion-input type="date" [(ngModel)]="detalleSeleccionado.fechaFin"></ion-input>
              </ion-item>
            </ion-col>
          </ion-row>
          <ion-button expand="block" color="success" (click)="confirmarEdicion()" class="ion-margin-top">
            <ion-icon name="save-outline" slot="start"></ion-icon>
            Cambiar
          </ion-button>
        </div>
      </ion-content>
    </ng-template>
  </ion-modal>
</ion-content>